.container {
  text-align: center;
  margin-top: 150px;
  background: #f1f1f1;
  padding: 80px;
  border-radius: 10px;
}

h1 {
  font-size: 70px;
  color: #FF5733;
}

.btn {
  border-color: #cccccc;
  font-size: 25px;
  padding: 5px 30px;
  margin: 0 20px;
}

p {
  font-size: 150px;
  color: #53A2F1;
  margin-bottom: 50px;
}

.invisible {
  visibility: hidden;
}

.big {
  font-size: 50px;
}

.redNumber {
  color: red;
}
